@import url("https://fonts.googleapis.com/css?family=Lato:300,400|Poppins:300,400,800&display=swap");
.navbar {
  position: -webkit-sticky;
  position: sticky;
}

.navbar-fixed-top {
  background-color: #232323;
  top: 0;
  /* left: 0; */
  position: -webkit-sticky;
  position: sticky;
  /* bottom: inherit; */
}

.navbar .container a {
  text-decoration: none;
  color: white;
}

.navbar .navbar-menu .nav a {
  margin: 10px;
  font-size: 18px;
}

.page-section .body {
  /* height: 100%; */
  background-color: #232323;
  padding: 11.5%;
  background-repeat: no-repeat;
  background-size: cover;
}

.portfolio {
  background-color: #f5f5f5;
}

#intro-title {
  color: white;
}

#intro-sub {
  color: white;
}

footer {
  background-color: #141c3a;
  /* bottom: 0; */
  padding-top: 3em;
  padding-bottom: 2em;
}

footer .copyright {
  color: white;
}

footer .social-icons {
  font-size: 1.5em;
}

footer .social-icons a {
  color: white;
  margin: 5px;
}

* {
  margin: 0;
  padding: 0;
}

.animation-section {
  width: 100%;
  height: 100vh;
  background: #232323;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.animation-section .box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.animation-section .box .title {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
}

.animation-section .box .title .block {
  width: 0%;
  height: inherit;
  background: #141c3a;
  position: absolute;
  -webkit-animation: mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
          animation: mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.animation-section .box .title h1 {
  font-family: 'Poppins';
  color: #fff;
  font-size: 32px;
  -webkit-animation: mainFadeIn 2s forwards;
  animation: mainFadeIn 2s forwards;
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  position: relative;
}

.animation-section .box .title h1 span {
  width: 0px;
  height: 0px;
  border-radius: 50%;
  background: #ffb510;
  -webkit-animation: load 0.6s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  animation: popIn 0.8s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  margin-left: 5px;
  margin-top: -10px;
  position: absolute;
  bottom: 13px;
  right: -12px;
}

.animation-section .box .role {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  margin-top: -10px;
}

.animation-section .box .role .block {
  width: 0%;
  height: inherit;
  background: #e91e63;
  position: absolute;
  -webkit-animation: secBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
          animation: secBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.animation-section .box .role p {
  -webkit-animation: secFadeIn 2s forwards;
          animation: secFadeIn 2s forwards;
  -webkit-animation-delay: 3.2s;
          animation-delay: 3.2s;
  opacity: 0;
  font-weight: 400;
  font-family: 'Lato';
  color: #ffffff;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

@-webkit-keyframes mainBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes mainBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@-webkit-keyframes secBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes secBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@-webkit-keyframes mainFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes mainFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes popIn {
  0% {
    width: 0px;
    height: 0px;
    background: #e9d856;
    border: 0px solid #ddd;
    opacity: 0;
  }
  50% {
    width: 10px;
    height: 10px;
    background: #e9d856;
    opacity: 1;
    bottom: 45px;
  }
  65% {
    width: 7px;
    height: 7px;
    bottom: 0px;
    width: 15px;
  }
  80% {
    width: 10px;
    height: 10px;
    bottom: 20px;
  }
  100% {
    width: 7px;
    height: 7px;
    background: #e9d856;
    border: 0px solid #222;
    bottom: 13px;
  }
}

@keyframes popIn {
  0% {
    width: 0px;
    height: 0px;
    background: #e9d856;
    border: 0px solid #ddd;
    opacity: 0;
  }
  50% {
    width: 10px;
    height: 10px;
    background: #e9d856;
    opacity: 1;
    bottom: 45px;
  }
  65% {
    width: 7px;
    height: 7px;
    bottom: 0px;
    width: 15px;
  }
  80% {
    width: 10px;
    height: 10px;
    bottom: 20px;
  }
  100% {
    width: 7px;
    height: 7px;
    background: #e9d856;
    border: 0px solid #222;
    bottom: 13px;
  }
}

@-webkit-keyframes secFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes secFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
/*# sourceMappingURL=style.css.map */