@import url("https://fonts.googleapis.com/css?family=Lato:300,400|Poppins:300,400,800&display=swap");
.navbar {
  position: -webkit-sticky;
  position: sticky;
}

.navbar-fixed-top {
  background-color: #232323;
  top: 0;
  /* left: 0; */
  position: -webkit-sticky;
  position: sticky;
  /* bottom: inherit; */
}

.navbar .container a {
  text-decoration: none;
  color: white;
}

.navbar .navbar-menu .nav a {
  margin: 14px;
  font-size: 18px;
  color: #b0b2c3;
}

.navbar .navbar-menu .nav a:hover {
  color: white;
  font-size: 20px;
  font-style: oblique;
}

#about-section {
  /* height: 100%; */
  color: white;
  background-color: #232323;
  padding: 11.5%;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

div.col-sm {
  -webkit-box-flex: unset;
      -ms-flex-positive: unset;
          flex-grow: unset;
}

.skills .container h1 {
  text-align: center;
}

.skills .container h2 {
  text-align: center;
  font-size: 15px;
}

.skills .container p {
  text-align: center;
}

div.project-buttons {
  margin: 0 auto;
  display: table;
  padding-bottom: 1em;
}

a.btn.btn-info {
  margin-right: 5px;
}

.portfolio .container h1 {
  text-align: center;
}

.portfolio .container h2 {
  text-align: center;
}

.portfolio {
  background-color: #f5f5f5;
}

.portfolio .portfolio-grid figure {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
}

.portfolio .portfolio-grid figure img.portfolio-img {
  -webkit-transfor: scale(1);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.portfolio .portfolio-grid figure figcaption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  padding: 0rem 2rem;
  color: #fff;
  z-index: 1;
}

.portfolio .portfolio-grid figure img {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
}

.portfolio .portfolio-grid .overlay, .portfolio .portfolio-grid figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: .45s ease-in-out;
  transition: .45s ease-in-out;
}

.portfolio .portfolio-grid .overlay {
  background-color: #232323;
}

.portfolio .portfolio-grid figure:hover img {
  -webkit-transfor: scale(1.1);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.portfolio .portfolio-grid figure:hover .overlay, .portfolio .portfolio-grid figure:hover figcaption {
  opacity: 1;
}

#intro-title {
  color: white;
}

#intro-sub {
  color: white;
}

.container {
  margin: 0 auto;
  position: relative;
  width: auto;
}

div.col-2.name-is-half {
  margin: 0 auto;
  clear: both;
  margin-left: 25.5%;
}

div.col-2.email-is-half {
  margin: 0 auto;
  clear: both;
  margin-right: 30%;
}

.contact-page .container h1 {
  text-align: center;
}

button.button.is-primary {
  margin-left: 2%;
}

.columns.is-centered {
  -webkit-box-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.textarea {
  max-width: 100%;
  min-width: 70%;
  margin: 0 auto;
}

div.control.submit-btn {
  margin-bottom: 0.5em;
}

.control {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  clear: both;
  position: relative;
  text-align: left;
}

footer {
  background-color: #141c3a;
  /* bottom: 0; */
  padding-top: 3em;
  padding-bottom: 2em;
}

footer .copyright {
  color: white;
}

footer .social-icons a.button {
  background-color: transparent;
  color: white;
  border-radius: 100%;
  height: 47px;
  width: 47px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  font-size: 1.4em;
}

footer .social-icons a.button .icon.is-small {
  height: 1.4em;
  width: 1.4em;
}

.button .icon:first-child:last-child {
  margin-left: 2px;
  margin-right: 2px;
}

.icon {
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
}

#linkedin,
#github,
#email-link,
#twitter {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition: ease-in-out 300ms;
  transition: ease-in-out 300ms;
  margin: 6px;
  text-decoration: none;
  display: -webkit-inline-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#linkedin:hover {
  color: #0077b5;
  background-color: white;
}

#github:hover {
  color: black;
  background-color: white;
}

#email-link:hover {
  color: lightskyblue;
  background-color: white;
}

#twitter:hover {
  color: #3b5998;
  background-color: white;
}

.animation-section {
  width: 100%;
  height: 80vh;
  background: #232323;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.animation-section .box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.animation-section .box .title {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
}

.animation-section .box .title .block {
  width: 0%;
  height: inherit;
  margin-top: 12px;
  background: #2c82c9;
  position: absolute;
  -webkit-animation: mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
          animation: mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.animation-section .box .title h1 {
  font-family: 'Poppins';
  color: #fff;
  font-size: 32px;
  -webkit-animation: mainFadeIn 2s forwards;
  animation: mainFadeIn 2s forwards;
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  position: relative;
}

.animation-section .box .title h1 span {
  width: 0px;
  height: 0px;
  border-radius: 50%;
  background: #2c82c9;
  -webkit-animation: load 0.6s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  animation: popIn 0.8s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  margin-left: 5px;
  margin-top: -10px;
  position: absolute;
  bottom: 13px;
  right: -12px;
}

.animation-section .box .role {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  margin-top: -10px;
}

.animation-section .box .role .block {
  width: 0%;
  height: inherit;
  background: #87d37c;
  position: absolute;
  -webkit-animation: secBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
          animation: secBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.animation-section .box .role p {
  -webkit-animation: secFadeIn 2s forwards;
          animation: secFadeIn 2s forwards;
  -webkit-animation-delay: 3.2s;
          animation-delay: 3.2s;
  opacity: 0;
  font-weight: 400;
  font-family: 'Lato';
  color: #ffffff;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

@-webkit-keyframes mainBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes mainBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@-webkit-keyframes secBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes secBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@-webkit-keyframes mainFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes mainFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes popIn {
  0% {
    width: 0px;
    height: 0px;
    background: #2c82c9;
    border: 0px solid #ddd;
    opacity: 0;
  }
  50% {
    width: 10px;
    height: 10px;
    background: #2c82c9;
    opacity: 1;
    bottom: 45px;
  }
  65% {
    width: 7px;
    height: 7px;
    bottom: 0px;
    width: 15px;
  }
  80% {
    width: 10px;
    height: 10px;
    bottom: 20px;
  }
  100% {
    width: 7px;
    height: 7px;
    background: #2c82c9;
    border: 0px solid #222;
    bottom: 13px;
  }
}

@keyframes popIn {
  0% {
    width: 0px;
    height: 0px;
    background: #2c82c9;
    border: 0px solid #ddd;
    opacity: 0;
  }
  50% {
    width: 10px;
    height: 10px;
    background: #2c82c9;
    opacity: 1;
    bottom: 45px;
  }
  65% {
    width: 7px;
    height: 7px;
    bottom: 0px;
    width: 15px;
  }
  80% {
    width: 10px;
    height: 10px;
    bottom: 20px;
  }
  100% {
    width: 7px;
    height: 7px;
    background: #2c82c9;
    border: 0px solid #222;
    bottom: 13px;
  }
}

@-webkit-keyframes secFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes secFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
/*# sourceMappingURL=style.css.map */