.navbar {
    position: sticky;
}
.navbar-fixed-top {
    background-color: #232323;
    top: 0;
    /* left: 0; */
    position: sticky;
    /* bottom: inherit; */
}
.navbar .container a{
    text-decoration: none;
    color: white;
}
.navbar .navbar-menu .nav a {
    margin: 14px;
    font-size: 18px;
    color: #b0b2c3;
}
.navbar .navbar-menu .nav a:hover {
  color: white;
  font-size: 20px;
  font-style: oblique;
}
#about-section {
    // background-image: url("https://cdn.lowgif.com/full/40c5bcd0951917d0-pleiades-date-night-catch-a-falling-star-cosmos-pinterest.gif");
    /* height: 100%; */
    color: white;
    background-color: #232323;
    padding: 11.5%;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
html, body {
  max-width: 100%;
  overflow-x: hidden;
}
div.col-sm {
  flex-grow: unset;
}
.skills .container h1 {
  text-align: center;
}
.skills .container h2 {
  text-align: center;
  font-size: 15px;
}
.skills .container p {
  text-align: center;
}
div.project-buttons {
  margin: 0 auto;
  display: table;
  padding-bottom: 1em;
}
a.btn.btn-info {
  margin-right: 5px;
}
.portfolio .container h1 {
  text-align: center;
}
.portfolio .container h2 {
  text-align: center;
}
.portfolio {
    background-color: #f5f5f5
}
#intro-title {
    color: white;
}
#intro-sub {
    color: white;
}
.container {
  margin: 0 auto;
  position: relative;
  width: auto;
}
div.col-2.name-is-half {
  // float: left;
  margin: 0 auto;
  clear: both;
  margin-left: 25.5%;
}
div.col-2.email-is-half {
  // float: right;
  margin: 0 auto;
  clear: both;
  margin-right: 30%;
}
.contact-page .container h1 {
  text-align: center;
}
button.button.is-primary {
  margin-left: 2%;
}
.columns.is-centered {
  -webkit-box-align: center;
  justify-content: center;
  // text-align: center;
}
.textarea {
  max-width: 100%;
  min-width: 70%;
  margin: 0 auto;
}
div.control.submit-btn {
  margin-bottom: 0.5em;
}
.control {
  box-sizing: border-box;
  clear: both;
  position: relative;
  text-align: left;
}
footer {
    background-color: #141c3a;
    /* bottom: 0; */
    padding-top: 3em;
    padding-bottom: 2em;
}
footer .copyright {
    color: white;
}
// footer .social-icons {
//     font-size: 1.5em;
// }
// footer .social-icons a {
//     color: white;
//     margin: 5px;
// }

footer .social-icons a.button {
  background-color: transparent;
  color: white;
  border-radius: 100%;
  height: 47px;
  width: 47px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  font-size: 1.4em;
  // padding-bottom: calc(0.5em - 1px);
  // padding-left: 0.5em;
  // padding-right: 0.5em;
  // padding-top: calc(0.5em - 1px);
  // justify-content: center;
  // white-space: nowrap;
  // -webkit-box-pack: center;
}
footer .social-icons a.button .icon.is-small {
  height: 1.4em;
  width: 1.4em;
  // color: white;
}
.button .icon:first-child:last-child {
  margin-left: 2px;
  margin-right: 2px;
  // color: white;
}
.icon {
  -webkit-box-align: center;
  align-items: center;
  display: inline-flex;
  -webkit-box-pack: center;
  justify-content: center;
}
#linkedin,
#github,
#email-link,
#twitter {
  transition-property: all;
  transition: ease-in-out 300ms;
  margin: 6px;
  text-decoration: none;
  display: -webkit-inline-box;
  -webkit-box-pack: center;
  align-items: center;
}

#linkedin:hover {
  color: #0077b5;
  background-color: white;
  // transform: rotateX(180deg);
}

#github:hover {
  color: black;
  background-color: white;
}

#email-link:hover {
  color:lightskyblue;
  background-color: white;
}

#twitter:hover {
  color: #3b5998;
  background-color: white;
}
@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Poppins:300,400,800&display=swap');

// * {
//   margin: 0;
//   padding: 0;
// }

.animation-section {
  width: 100%;
  height: 80vh;
  // padding: 20.5%;
  background: #232323;

  display: flex;
  justify-content: center;
  align-items: center;

  .box {
    // width: 250px;
    // height: 250px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .title {
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      height: 50px;

      .block {
        width: 0%;
        height: inherit;
        margin-top: 12px;
        // background: lightskyblue;
        background: rgba(44, 130, 201, 1);
        position: absolute;
        animation: mainBlock 2s cubic-bezier(.74, .06, .4, .92) forwards;
        display: flex;
      }

      h1 {
        font-family: 'Poppins';
        color: #fff;
        font-size: 32px;
        -webkit-animation: mainFadeIn 2s forwards;
        -o-animation: mainFadeIn 2s forwards;
        animation: mainFadeIn 2s forwards;
        animation-delay: 1.6s;
        opacity: 0;
        display: flex;
        align-items: baseline;
        position: relative;

        span {
          width:0px;
          height: 0px;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;

          // background: #ffb510;
          // background: lightskyblue;
          background: rgba(44, 130, 201, 1);

          -webkit-animation: load 0.6s cubic-bezier(.74, .06, .4, .92) forwards;
          animation: popIn 0.8s cubic-bezier(.74, .06, .4, .92) forwards;
          animation-delay: 2s;
          margin-left: 5px;
          margin-top: -10px;
          position: absolute;
          bottom: 13px;
          right: -12px;

        }
      }
    }

    .role {
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      height: 30px;
      margin-top: -10px;

      .block {
        width: 0%;
        height: inherit;
        // background: #e91e63;
        // background: #ffb510;
        background: rgba(135, 211, 124, 1);
        position: absolute;
        animation: secBlock 2s cubic-bezier(.74, .06, .4, .92) forwards;
        animation-delay: 2s;
        display: flex;
      }

      p {
        animation: secFadeIn 2s forwards;
        animation-delay: 3.2s;
        opacity: 0;
         font-weight: 400;
        font-family: 'Lato';
        color: #ffffff;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 5px;
      }
    }
  }
}





@keyframes mainBlock {
  0% {
    width: 0%;
    left: 0;

  }
  50% {
    width: 100%;
    left: 0;

  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes secBlock {
  0% {
    width: 0%;
    left: 0;

  }
  50% {
    width: 100%;
    left: 0;

  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes mainFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@keyframes popIn {
  0% {
    width: 0px;
    height: 0px;
    // background: #e9d856;
    // background: lightskyblue;
    background: rgba(44, 130, 201, 1);

    border: 0px solid #ddd;
    opacity: 0;
  }
  50% {
    width: 10px;
    height: 10px;
    // background: #e9d856;
    // background: lightskyblue;
    background: rgba(44, 130, 201, 1);

    opacity: 1;
    bottom: 45px;
  }
   65% {
      width: 7px;
    height: 7px;
      bottom: 0px;
      width: 15px
   }
   80% {
      width: 10px;
    height: 10px;
      bottom: 20px
   }
  100% {
    width: 7px;
    height: 7px;
    // background: #e9d856;
    // background: lightskyblue;
    background: rgba(44, 130, 201, 1);

    border: 0px solid #222;
    bottom: 13px;

  }
}

@keyframes secFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}